<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.primax.bestsigntransfer.admin.mapper.CodeLanguagelevelMapper">

    <resultMap type="CodeLanguagelevel" id="CodeLanguagelevelResult">
        <result property="id"    column="Id"    />
        <result property="languagelevelid"    column="LanguageLevelID"    />
        <result property="languagelevel"    column="LanguageLevel"    />
        <result property="isenable"    column="Isenable"    />
    </resultMap>

    <sql id="selectCodeLanguagelevelVo">
        select Id, LanguageLevelID, LanguageLevel, Isenable from code_languagelevel
    </sql>

    <select id="selectCodeLanguagelevelList" parameterType="CodeLanguagelevel" resultMap="CodeLanguagelevelResult">
        <include refid="selectCodeLanguagelevelVo"/>
        <where>
            <if test="languagelevelid != null  and languagelevelid != ''"> and LanguageLevelID = #{languagelevelid}</if>
            <if test="languagelevel != null  and languagelevel != ''"> and LanguageLevel = #{languagelevel}</if>
            <if test="isenable != null  and isenable != ''"> and Isenable = #{isenable}</if>
        </where>
    </select>

    <select id="selectCodeLanguagelevelById" parameterType="Long" resultMap="CodeLanguagelevelResult">
        <include refid="selectCodeLanguagelevelVo"/>
        where Id = #{id}
    </select>

    <insert id="insertCodeLanguagelevel" parameterType="CodeLanguagelevel">
        insert into code_languagelevel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">Id,</if>
            <if test="languagelevelid != null">LanguageLevelID,</if>
            <if test="languagelevel != null">LanguageLevel,</if>
            <if test="isenable != null">Isenable,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="languagelevelid != null">#{languagelevelid},</if>
            <if test="languagelevel != null">#{languagelevel},</if>
            <if test="isenable != null">#{isenable},</if>
         </trim>
    </insert>

    <update id="updateCodeLanguagelevel" parameterType="CodeLanguagelevel">
        update code_languagelevel
        <trim prefix="SET" suffixOverrides=",">
            <if test="languagelevelid != null">LanguageLevelID = #{languagelevelid},</if>
            <if test="languagelevel != null">LanguageLevel = #{languagelevel},</if>
            <if test="isenable != null">Isenable = #{isenable},</if>
        </trim>
        where Id = #{id}
    </update>

    <delete id="deleteCodeLanguagelevelById" parameterType="Long">
        delete from code_languagelevel where Id = #{id}
    </delete>

    <delete id="deleteCodeLanguagelevelByIds" parameterType="String">
        delete from code_languagelevel where Id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
